{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "android >= 4.4"
          ]
        },
        "modules": false,
        "loose": true,
        "useBuiltIns": true
      }
    ],
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import",
    "transform-async-to-generator",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties", 
    "react-hot-loader/babel",    
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}